<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.7.1/css/all.css}" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue" th:src="@{https://cdn.jsdelivr.net/npm/vue}"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}"/>	
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap.min.css" th:href="@{/bootstrap/bootstrap.min.css}"/>
	<script src="../../static/bootstrap/bootstrap.js" th:src="@{/bootstrap/bootstrap.js}"/></script>
	<script src="../../static/bootstrap/jquery.min.js" th:src="@{/bootstrap/jquery.min.js}"/></script>
	<script src="../../static/bootstrap/bootstrap.min.js"th:src="@{/bootstrap/bootstrap.min.js}"/></script>

	<link rel="stylesheet" type="text/css" href="../../static/css/style-check-out.css" th:href="@{/css/style-check-out.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-check-out-step-3.css" th:href="@{/css/style-check-out-step-3.css}"/>
	<!-- Detail Page -->

	<link rel="icon" href="../../static/images/tiki-logo.png" th:href="@{/images/tiki-logo.png}" />
	<title>Chi tiết sản phẩm</title>
</head>
<body>
	<div th:insert="components/general/header::checkOutHeader(step='3')"></div>
	<div class="wrap" style="margin-bottom: 60px">
		<div class="container">
			<div class="row">
				
				<form class="col-md-8">	
					<h3 class="title-check-out">1. Hình thức giao hàng</h3>				
					<div class="check-out-border">

						<label class="lbl-container">Giao hàng tiêu chuẩn
						  <input type="radio" name="deliveryMethod">
						  <span class="checkmark"></span>
						</label>
						<label class="lbl-container">Giao hàng nhanh. (Giao nhanh trong vòng 2h)
						  <input type="radio" checked="checked" name="deliveryMethod">
						  <span class="checkmark"></span>
						</label>
					</div>
					<h3 class="title-check-out">2. Thanh toán bằng Tiki xu</h3>				
					<div class="check-out-border">
						<label class="lbl-container">Thanh toán bằng Tiki xu.
						  <input type="checkbox" name="tikiPayment">
						  <span class="checkmark-checkbox"></span>
						</label>
					</div>
					<h3 class="title-check-out">3. Hình thức thanh toán</h3>				
					<div class="check-out-border">
						<label class="lbl-container">Thanh toán bằng tiền mặt khi nhận hàng.
						  <input type="radio" checked="checked" name="paymentBy">
						  <span class="checkmark"></span>
						</label>
						<label class="lbl-container">Thanh toán bằng thẻ ATM nội địa.
						  <input type="radio" name="paymentBy">
						  <span class="checkmark"></span>
						</label>
						<label class="lbl-container">Thanh toán bằng thẻ quốc tế Master card, Visa, JCB.
						  <input type="radio" name="paymentBy">
						  <span class="checkmark"></span>
						</label>
						<label class="lbl-container">Thanh toán bằng Ví Momo.
						  <input type="radio" name="paymentBy">
						  <span class="checkmark"></span>
						</label>
						<label class="lbl-container">Thanh toán bằng ZaloPay.
						  <input type="radio" name="paymentBy">
						  <span class="checkmark"></span>
						</label>
					</div>
					<label class="lbl-container" style="margin-bottom: 20px">Xuất thông tin hóa đơn.
						<input type="checkbox" name="getInfoOrder">
						<span class="checkmark-checkbox"></span>
					</label>
					<button type="submit" class="btn btn-danger col-md-12">Thanh toán</button>
					<span style="font-size: 12px">(Vui lòng kiểm tra kĩ đơn hàng trước khi đặt mua)</span>
				</form>
				<div class="col-md-4">
					<h3 class="title-check-out">Thông tin người nhận</h3>
					<div class="check-out-border">
						<p style="display: inline-block; margin-bottom: 0px; font-weight: bold;">Địa chỉ giao hàng </p>	
						<a href="#" style="float: right">Sửa</a>						
						<hr/>	
						<div class="row order-info" >
							<label class="col-md-3" >Họ Tên:</label><p class="col-md-9" th:text="${customerInfo.getFullName()}"></p>
							<label class="col-md-3" >Địa chỉ:</label><p class="col-md-9" th:text="${customerInfo.getAddress()}"></p>
							<label class="col-md-3" >SĐT:</label><p class="col-md-9" th:text="${customerInfo.getPhoneNumber()}"></p>
						</div>					
					</div>
					<h3 class="title-check-out">Thông tin đơn hàng</h3>
					<div class="check-out-border">
						<p style="display: inline-block; margin-bottom: 0px; font-weight: bold;">Đơn hàng</p>	
						<a href="#" style="float: right">Sửa</a>						
						<hr/>	
						<div class="wrap" th:each="item : ${orderItems}">
							<div class="row order-info">
								<a class="col-md-5" href="#" th:text="${item.getProductName()}"></a><p class="col-md-2" th:text="${item.getQuantity()}"></p><p class="col-md-5" style="text-align: right;" th:text="${item.getAmount()}+'&nbsp;VNĐ'"></p>
							</div>
						</div><hr/>	
						
						<div class="row order-info">
							<label class="col-md-4">Tạm tính:</label>
							<p class="col-md-8" style="float: right;text-align: right;" th:text="${total}+'&nbsp;VNĐ'"></p>
							
							<label class="col-md-4">Phí vận chuyển</label>
							<p class="col-md-8" style="float: right;text-align: right;">0 VNĐ</p>
						</div><hr/>
						<div class="row order-info" >
							<label class="col-md-4">Tổng tiền:</label>
							
							<p class="col-md-8" style="float: right;text-align: right;" th:text="${total}+'&nbsp;VNĐ'"></p>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>