<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.7.1/css/all.css}" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue" th:src="@{https://cdn.jsdelivr.net/npm/vue}"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}"/>	
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap.min.css" th:href="@{/bootstrap/bootstrap.min.css}"/>
	<script src="../../static/bootstrap/bootstrap.js" th:src="@{/bootstrap/bootstrap.js}"/></script>
	<script src="../../static/bootstrap/jquery.min.js" th:src="@{/bootstrap/jquery.min.js}"/></script>
	<script src="../../static/bootstrap/bootstrap.min.js"th:src="@{/bootstrap/bootstrap.min.js}"/></script>

	<link rel="stylesheet" type="text/css" href="../../static/css/style-check-out.css" th:href="@{/css/style-check-out.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-check-out-step-3.css" th:href="@{/css/style-check-out-step-3.css}"/>
	<!-- Detail Page -->

	<link rel="icon" href="../../static/images/tiki-logo.png" th:href="@{/images/tiki-logo.png}" />
	<title>Chi tiết sản phẩm</title>
</head>
<body>
	<div class="shipping-header">
	    <div class="container">
	        <div class="row row-style-1">
	            <div class="col-lg-2 visible-lg-block">
	                <a href="/">
	                    <img style="height:130px" src="../../static/images/tiki-logo.png"/>
	                </a>
	            </div>
	            <div class="col-lg-8" style="padding-top: 30px;">
	                <div class="row bs-wizard">

	                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 bs-wizard-step">
	                        <div class="text-center bs-wizard-stepnum">
	                            <span>Đăng Nhập</span>
	                        </div>
	                        <div class="progress active"><div class="progress-bar"></div></div>
	                        <span class="bs-wizard-dot active">1</span>
	                    </div>

	                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 bs-wizard-step disabled">

	                        <div class="text-center bs-wizard-stepnum">
	                            <span class="hidden-xs">Địa Chỉ Giao Hàng</span>
	                            <span class="visible-xs-inline-block">Địa Chỉ</span>
	                        </div>
	                        <div class="progress active"><div class="progress-bar "></div></div>
	                        <span class="bs-wizard-dot active">2</span>
	                    </div>

	                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 bs-wizard-step disabled">
	                        <div class="text-center bs-wizard-stepnum">
	                            <span class="hidden-xs">Thanh Toán &amp; Đặt Mua</span>
	                            <span class="visible-xs-inline-block ">Thanh Toán</span>
	                        </div>
	                        
	                        <span class="bs-wizard-dot active">3</span>
	                    </div>

	                </div>
	            </div>
	            <div class="col-lg-2 visible-lg-block hotline" style="margin-top: 50px;">
	                <img src="https://salt.tikicdn.com/assets/img/hotline.png" height="42" width="176" alt="">
	            </div>
	        </div>
	    </div>
	</div>
	<div class="wrap" style="margin-bottom: 60px">
		<div class="container">
			<div class="row">
				
				<form class="col-md-8">	
					<h3 class="title-check-out">1. Hình thức giao hàng</h3>				
					<div class="check-out-border">

						<label class="lbl-container">Giao hàng tiêu chuẩn
						  <input type="radio" checked="checked" name="radio">
						  <span class="checkmark"></span>
						</label>
						<label class="lbl-container">Giao hàng nhanh. (Giao nhanh trong vòng 2h)
						  <input type="radio" checked="checked" name="radio">
						  <span class="checkmark"></span>
						</label>
					</div>
					<h3 class="title-check-out">2. Thanh toán bằng Tiki xu</h3>				
					<div class="check-out-border">
						<label class="lbl-container">Thanh toán bằng Tiki xu.
						  <input type="checkbox" name="paymentMethod">
						  <span class="checkmark-checkbox"></span>
						</label>
					</div>
					<h3 class="title-check-out">3. Hình thức thanh toán</h3>				
					<div class="check-out-border">
						<label class="lbl-container">Thanh toán bằng tiền mặt khi nhận hàng.
						  <input type="radio" name="paymentBy">
						  <span class="checkmark"></span>
						</label>
						<label class="lbl-container">Thanh toán bằng thẻ ATM nội địa.
						  <input type="radio" name="paymentBy">
						  <span class="checkmark"></span>
						</label>
						<label class="lbl-container">Thanh toán bằng thẻ quốc tế Master card, Visa, JCB.
						  <input type="radio" name="paymentBy">
						  <span class="checkmark"></span>
						</label>
						<label class="lbl-container">Thanh toán bằng Ví Momo.
						  <input type="radio" name="paymentBy">
						  <span class="checkmark"></span>
						</label>
						<label class="lbl-container">Thanh toán bằng ZaloPay.
						  <input type="radio" name="paymentBy">
						  <span class="checkmark"></span>
						</label>
					</div>
					<label class="lbl-container" style="margin-bottom: 20px">Xuất thông tin hóa đơn.
						<input type="checkbox" name="getInfoOrder">
						<span class="checkmark-checkbox"></span>
					</label>
					<button type="submit" class="btn btn-danger col-md-12">Thanh toán</button>
					<span style="font-size: 12px">(Vui lòng kiểm tra kĩ đơn hàng trước khi đặt mua)</span>
				</form>
				<div class="col-md-4">
					<h3 class="title-check-out">Thông tin người nhận</h3>
					<div class="check-out-border">
						<p style="display: inline-block; margin-bottom: 0px; font-weight: bold;">Địa chỉ giao hàng </p>	
						<a href="#" style="float: right">Sửa</a>						
						<hr/>	
						<div class="row order-info" >
							<label class="col-md-3" >Họ Tên:</label><p class="col-md-9">Phạm Trương Chí Hiếu</p>
							<label class="col-md-3" >Địa chỉ:</label><p class="col-md-9">42 Đoàn Hồng Phước, Hòa Thạnh, Tân Phú, tp.HCM</p>
							<label class="col-md-3" >SĐT:</label><p class="col-md-9">0777169443</p>
						</div>					
					</div>
					<h3 class="title-check-out">Thông tin đơn hàng</h3>
					<div class="check-out-border">
						<p style="display: inline-block; margin-bottom: 0px; font-weight: bold;">Đơn hàng</p>	
						<a href="#" style="float: right">Sửa</a>						
						<hr/>	
						<div class="row order-info">
							<a class="col-md-5" href="#" >Thám tử lừng danh Conan tập 95</a><p class="col-md-2">1</p><p class="col-md-5" style="text-align: right;">20000 VNĐ</p>
						</div><hr/>	
						<div class="row order-info">
							<label class="col-md-4">Tạm tính:</label>
							<p class="col-md-8" style="float: right;text-align: right;">20000 VNĐ</p>
							<label class="col-md-4">Phí vận chuyển</label>
							<p class="col-md-8" style="float: right;text-align: right;">10000 VNĐ</p>
						</div><hr/>
						<div class="row order-info">
							<label class="col-md-4">Tổng tiền:</label>
							<p class="col-md-8" style="float: right;text-align: right;">30000 VNĐ</p>
						</div>		
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>