<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.7.1/css/all.css}" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue" th:src="@{https://cdn.jsdelivr.net/npm/vue}"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}"/>	
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap.min.css" th:href="@{/bootstrap/bootstrap.min.css}"/>
	<script src="../../static/bootstrap/bootstrap.js" th:src="@{/bootstrap/bootstrap.js}"/></script>
	<script src="../../static/bootstrap/jquery.min.js" th:src="@{/bootstrap/jquery.min.js}"/></script>
	<script src="../../static/bootstrap/bootstrap.min.js"th:src="@{/bootstrap/bootstrap.min.js}"/></script>

	<link rel="stylesheet" type="text/css" href="../../static/css/style-check-out.css" th:href="@{/css/style-check-out.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-check-out-step-2.css" th:href="@{/css/style-check-out-step-2.css}"/>
	<!-- Detail Page -->

	<link rel="icon" href="../../static/images/tiki-logo.png" th:href="@{/images/tiki-logo.png}" />
	<title>Chi tiết sản phẩm</title>
</head>
<body>
	<div class="shipping-header">
	    <div class="container">
	        <div class="row row-style-1">
	            <div class="col-lg-2 visible-lg-block">
	                <a href="/">
	                    <img style="height:130px" src="../../static/images/tiki-logo.png"/>
	                </a>
	            </div>
	            <div class="col-lg-8" style="padding-top: 30px;">
	                <div class="row bs-wizard">

	                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 bs-wizard-step">
	                        <div class="text-center bs-wizard-stepnum">
	                            <span>Đăng Nhập</span>
	                        </div>
	                        <div class="progress active"><div class="progress-bar"></div></div>
	                        <span class="bs-wizard-dot active">1</span>
	                    </div>

	                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 bs-wizard-step disabled">

	                        <div class="text-center bs-wizard-stepnum">
	                            <span class="hidden-xs">Địa Chỉ Giao Hàng</span>
	                            <span class="visible-xs-inline-block">Địa Chỉ</span>
	                        </div>
	                        <div class="progress active"><div class="progress-bar "></div></div>
	                        <span class="bs-wizard-dot active">2</span>
	                    </div>

	                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 bs-wizard-step disabled">
	                        <div class="text-center bs-wizard-stepnum">
	                            <span class="hidden-xs">Thanh Toán &amp; Đặt Mua</span>
	                            <span class="visible-xs-inline-block ">Thanh Toán</span>
	                        </div>
	                        
	                        <span class="bs-wizard-dot active">3</span>
	                    </div>

	                </div>
	            </div>
	            <div class="col-lg-2 visible-lg-block hotline" style="margin-top: 50px;">
	                <img src="https://salt.tikicdn.com/assets/img/hotline.png" height="42" width="176" alt="">
	            </div>
	        </div>
	    </div>
	</div>
	<div class="wrap">
		<div class="container">
			<div class="row">
				<h3>1. Hình thức giao hàng</h3>
				<form class="col-md-9">					
					<div class="check-out-border">
						<div>
							<input type="radio" name="shipping-plan"><label>Giao hàng tiêu chuẩn</label>		
						</div>
						<div>
							<input type="radio" name="shipping-plan"><label>Giao hàng nhanh</label>		
						</div>
										
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>