<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.7.1/css/all.css}" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}"/>
	
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap.min.css" th:href="@{/bootstrap/bootstrap.min.css}"/>
	<script src="../../static/bootstrap/bootstrap.js" th:src="@{/bootstrap/bootstrap.js}"/></script>
	<script src="../../static/bootstrap/jquery.min.js" th:src="@{/bootstrap/jquery.min.js}"/></script>
	<script src="../../static/bootstrap/bootstrap.min.js"th:src="@{/bootstrap/bootstrap.min.js}"/></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/general-style.css" th:href="@{/css/general-style.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-header.css" th:href="@{/css/style-header.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-footer.css" th:href="@{/css/style-footer.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-detail.css" th:href="@{/css/style-detail.css}"/>
	<!-- Detail Page -->
	<link rel="stylesheet" type="text/css" href="../../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}" />
	<script type="text/javascript" src="../../static/js/owl.carousel.js" th:src="@{/js/owl.carousel.js}"></script>

	<link rel="icon" href="../../static/images/tiki-logo.png" th:href="@{/images/tiki-logo.png}" />
	<title>Chi tiết sản phẩm</title>
</head>
<body>
	
	<!--HEADER-->
	<div th:insert="components/general/header::header"></div>
	<!--Main-->
	<div class="content row">
		<div class="box col-md-12 product-preview">
			<div class="wrap row">
				<div class="col-md-4">
					<div class="box row">
						<div class="col-md-3 product-thumbs">
							<div class="thumbs">
								<img src="../../static/images/img-feature-1.jpg" th:src="@{/images/img-feature-1.jpg}">
							</div>
							<div class="thumbs">
								<img src="../../static/images/img-feature-2.jpg" th:src="@{/images/img-feature-2.jpg}">
							</div>
						</div>
						<div class="col-md-9 lagre-img">
							<div class="img-wrap">
								<img src="../../static/images/img-feature-3.jpg" th:src="@{/images/img-feature-3.jpg}">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="box row product-info">
						<div class="product-name">
							<p class="name">Direct to IELTS: Student Book Without Key With Webcode</p>
							<p id="sku">SKU: <span>4316489419513</span></p>
						</div>

						<div class="more-inf">
							<span class="badge badge-danger">Deal hot</span>
							<div><label>Giá: </label><span>345.000 VND</span></div>	
							<div><label>Nhà cung cấp: </label><span><a href="#">Tiki.vn</a></span></div>
							<div><label>Trọng lượng: </label><span>0,5 kg</span></div>
						</div>
						<div>
	        				<a class="navbar-items col-md-2" href="components/editproduct.html" th:href="@{editproduct}">
								<span style="background-color: red"><i  class="icon-edit"></i>   Edit Product</span>
							</a> 
	        			</div> 	
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--FOOTER-->
	<div th:insert="components/general/footer::footer"></div>
</body>
<script type="text/javascript">
	var owl = $('.owl-carousel');
	owl.owlCarousel({
    items:1,
    loop:true,
    margin:10,
    autoplay:true,
    autoplayTimeout:10000,
    autoplayHoverPause:true
});
$('.play').on('click',function(){
    owl.trigger('play.owl.autoplay',[10000])
})
$('.stop').on('click',function(){
    owl.trigger('stop.owl.autoplay')
})

</script>
</html>