<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.7.1/css/all.css}" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue" th:src="@{https://cdn.jsdelivr.net/npm/vue}"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}"/>	
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap.min.css" th:href="@{/bootstrap/bootstrap.min.css}"/>
	<script src="../../static/bootstrap/bootstrap.js" th:src="@{/bootstrap/bootstrap.js}"/></script>
	<script src="../../static/bootstrap/jquery.min.js" th:src="@{/bootstrap/jquery.min.js}"/></script>
	<script src="../../static/bootstrap/bootstrap.min.js"th:src="@{/bootstrap/bootstrap.min.js}"/></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/general-style.css" th:href="@{/css/general-style.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-header.css" th:href="@{/css/style-header.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-footer.css" th:href="@{/css/style-footer.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-detail.css" th:href="@{/css/style-detail.css}"/>
	<!-- Detail Page -->
	<link rel="stylesheet" type="text/css" href="../../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}" />
	<script type="text/javascript" src="../../static/js/owl.carousel.js" th:src="@{/js/owl.carousel.js}"></script>

	<link rel="icon" href="../../static/images/tiki-logo.png" th:href="@{/images/tiki-logo.png}" />
	<title>Chi tiết sản phẩm</title>
</head>
<body>
	
	<!--HEADER-->
	<div th:insert="components/general/header::header"></div>
	
	<div id="app" th:if="${message!=null}" th:insert="components/general/modal::modal">
		
	 </div>
	
	<!--Main-->
	<div class="content row">
		<div class="box col-md-12 product-preview">
			<div class="wrap row">
				<div class="col-md-4">
					<div class="box row">
						<div class="col-md-3 product-thumbs">
							<div class=" thumbs" th:each="imageList : ${imageList}">
								<img src="../../static/images/img-feature-1.jpg" th:src="@{'/images/'+${imageList}}">
							</div>
							
						</div>
						<div class="col-md-9 lagre-img">
							<div class="img-wrap">
								<img src="../../static/images/img-feature-3.jpg" th:src="@{'/images/'+${product.getImage()}}">
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<form class="box row product-info" method="POST" th:action="@{/cart/addtocart}" id="frm">
						<div class="product-name">
							<p class="name" th:text="${product.getProductName()}"></p>
							<input name="productName" th:value="${product.getProductName()}" hidden="true"/>
							<p id="sku">SKU: <span th:text="${product.getId()}"></span></p>
							<input name="productId" th:value="${product.getId()}" hidden="true"/>
						</div>
						<input name="image" hidden="true" th:value="${product.getImage()}"/>
						<div class="more-inf" >
							<span class="badge badge-danger">Hot Deal</span>
							<div th:each="details : ${details}" th:utext="${details}">
								<!--<div th:utext="${details}"></div>  -->
							</div>
							
							
							<div>
								<label>Giá: </label><span th:text="${product.getPrice().toString()}"></span>&nbsp;VNĐ
								<input name="price"  th:value="${product.getPrice()}" hidden="true"/>
								
							</div>											
							<div class="quantity-block">
								<div class="amount">
									<div class="btn btn-group" id="quantity-block">
										<button type="button" class="btn btn-primary" id="decreasement" v-on:click="decrease">-</button>
										<input type="text" name="quantity" id="quantity" v-model="quantity" />
										<button type="button" class="btn btn-primary" id="increasement" v-on:click="increase">+</button>
									</div>
								</div>
								<button type="submit" class="btn btn-primary add-to-cart">Chọn mua</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="box col-md-12 more-product">
			<div class="wrap row">
				<div class="col-md-12 wrap-product-list ">
					<div class="deal-header">
			            <div class="icon-header"><i class="fas fa-dollar-sign "></i></div>
			            <div class="deal-header-content-wrap">
			            	<div class="title">Sản phẩm liên quan</div>
				            <div class="text">
				                Vẫn còn nhiều sản phẩm thú vị khác đang chờ bạn !!!
				            </div>
			            </div>
			            
			        </div><hr/>
			        <div class="loader-area owl-carousel">
			        	<div class="product-list row">
			        		<div th:each="product: ${relateProduct}" class="product-wrap col-md-2" th:insert="components/general/product::product-fragment"></div>
			        	</div>
			        	<div class="product-list row">
			        		<div th:each="product: ${relateProduct}" class="product-wrap col-md-2" th:insert="components/general/product::product-fragment"></div>
			        	</div>		
			        </div>
				</div>
			</div>
		</div>
	</div>
	<!--FOOTER-->
	<div th:insert="components/general/footer::footer"></div>
</body>
<script type="text/javascript">
		var owl = $('.owl-carousel');
		owl.owlCarousel({
	    items:1,
	    loop:true,
	    margin:10,
	    autoplay:true,
	    autoplayTimeout:10000,
	    autoplayHoverPause:true
	});
	$('.play').on('click',function(){
	    owl.trigger('play.owl.autoplay',[10000])
	})
	$('.stop').on('click',function(){
	    owl.trigger('stop.owl.autoplay')
	})

</script>
<script>
	new Vue({
		el: '#frm',
		data:{
			quantity: 1,
			
		},
		methods:{
			increase:function(event)
			{
				this.quantity++;
				
			},
			decrease:function(event)
			{
				if(this.quantity>=2)
				this.quantity--;
				
			}
		}
	});
	
	
		
</script>


</html>