<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
	<meta charset="utf-8">

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.7.1/css/all.css}" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap.min.css" th:href="@{/bootstrap/bootstrap.min.css}"/>
	<script src="../../static/bootstrap/bootstrap.js" th:src="@{/bootstrap/bootstrap.js}"/></script>
	<script src="../../static/bootstrap/jquery.min.js" th:src="@{/bootstrap/jquery.min.js}"/></script>
	<script src="../../static/bootstrap/bootstrap.min.js"th:src="@{/bootstrap/bootstrap.min.js}"/></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/general-style.css" th:href="@{/css/general-style.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-header.css" th:href="@{/css/style-header.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-footer.css" th:href="@{/css/style-footer.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-detail.css" th:href="@{/css/style-detail.css}"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/style-product.css" th:href="@{/css/style-product.css}"/>
	<!-- Detail Page -->
	<link rel="stylesheet" type="text/css" href="../../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}" />
	<script type="text/javascript" src="../../static/js/owl.carousel.js" th:src="@{/js/owl.carousel.js}"></script>
	<link rel="icon" href="../../static/images/tiki-logo.png" th:href="@{/images/tiki-logo.png}" />
	<title>Chi tiết sản phẩm</title>
</head>
<body>
	
	<!--HEADER-->
	<div th:insert="components/general/header::header"></div>
	<!--Product-->
	<div class="newproduct">
	<div class="page-title">Product</div>
	<div class="table">
	<table style="text-align:left;">
            <tr>
               <td>Name</td>
               <td style="color:red;">
					<input type="text">
				</td>
				</td>
			</tr>
			<tr>
               <td>Price</td>
               <td style="color:red;">
					<input type="text">
				</td>
				</td>
			</tr>
			<tr>
               <td>Review</td>
               <td style="color:red;">
					<input type="text">
				</td>
				</td>
			</tr>
			<tr>
               <td>Code</td>
               <td style="color:red;">
					<input type="text">
				</td>
				</td>
			</tr>
			<tr>
               <td>Image</td>
               <td >
					<img src="smiley.gif" alt="Image Here" height="42" width="42">
				</td>
				</td>
			</tr>
			<tr>
               <td>Upload Image</td>
               <td style="color:red;">
					<input type="file">
				</td>
				</td>
			</tr>
			<tr>
               <td>&nbsp </td>
               <td style="color:red;">
					<input type="Submit" value="Submit">
					<input type="Reset" value="Reset">
				</td>
				</td>
			</tr>
		</table>
	</div>
	</div>
	<!--FOOTER-->
	<div th:insert="components/general/footer::footer"></div>
</body>
<script type="text/javascript">
	var owl = $('.owl-carousel');
	owl.owlCarousel({
    items:1,
    loop:true,
    margin:10,
    autoplay:true,
    autoplayTimeout:10000,
    autoplayHoverPause:true
});
$('.play').on('click',function(){
    owl.trigger('play.owl.autoplay',[10000])
})
$('.stop').on('click',function(){
    owl.trigger('stop.owl.autoplay')
})

</script>
</html>