.check-out-border{
	border: 1px solid #2196F3;
    padding: 20px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.lbl-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.lbl-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #2196F3;
}

/* On mouse-over, add a grey background color */
.lbl-container:hover input ~ .checkmark {
  border: 2px solid #2196F3;
}

/* When the radio button is checked, add a blue background */
.lbl-container input:checked ~ .checkmark {
  background-color: #2196F3;
  border:none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  left:45%;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.lbl-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.lbl-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.title-check-out{
	margin-bottom: 30px;
	font-size: 20px;
}

/*Check box*/

/* Create a custom checkbox */
.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid #2196F3;
}

/* On mouse-over, add a grey background color */
.lbl-container:hover input ~ .checkmark-checkbox {
  border: 2px solid #2196F3;
}

/* When the checkbox is checked, add a blue background */
.lbl-container input:checked ~ .checkmark-checkbox {
  background-color: #2196F3;
   border:none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.lbl-container input:checked ~ .checkmark-checkbox:after {
  display: block;

}

/* Style the checkmark/indicator */
.lbl-container .checkmark-checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.order-info{
	font-size: 13px;
}
.order-info label{
	font-weight: bold;
	padding: 0;
    padding-left: 20px;
}
.order-info p{
	
}
.order-info a{
	padding: 0;
    padding-left: 20px;
}
.order-info p{
	padding: 0;
	padding-left: 20px;
}