.row-address-list{
	padding: 20px 50px;
    border: 1px dashed #00b6f0;
}
.panel-body{

}
.panel-body div{

}
.panel-body div p{
}
.panel-body div span {
	font-weight: bold;
}

.panel-body div input {
	margin-bottom: 10px;
}

